:root {
    --StoreItem-gap: 30px;
    --ul-padding: 10px;
}

ul {
    display: grid;
    list-style: none;
    margin: 0;
    grid-template-rows: repeat(auto, 1fr);
    gap: var(--StoreItem-gap);
    padding: var(--ul-padding);
}

.StoreItem {
    background-color: #a8d0e656;
}