:root {
    --StoreItem-content-grid-rows-width: 100px;
    --content-gap: 15px;
    --item-attribute-gap: 5px;
}

body, p, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

.loading, .error {
    text-align: center;
}

.content {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(var(--StoreItem-content-grid-rows-width), 1fr));
    gap: var(--content-gap);
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1.05rem;
}

p {
    font-size: 0.95rem;
}

.item-title {
    text-align: center;
}

img {
    max-width: var(--StoreItem-content-grid-rows-width);
    justify-self: center;
}

.item-attribute {
    display: grid;
    gap: var(--item-attribute-gap);
}

.quantity-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    justify-items: start;
}

.quantity-controls {
    flex: 1 1 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 5px;
}

.item-quantity {
    flex: 1 0 auto;
}

.input-error {
    flex: 1 1 auto;
}

.quantity-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    align-items: center;
    flex-wrap: wrap;
}

.add-to-cart {
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    background-color: #2da0ff;
    color: white;
}

.add-to-cart:hover {
    background-color: rgb(72, 255, 0);
    color: white;
}