.cart-item-attribute-label {
    font-weight: bolder;
}

.cart-item-title {
    font-size: 1rem;
}

.cart-item-quantity,
.cart-item-price {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 5px;
}

.remove-from-cart:hover {
    background-color: red;
}